<div class="hero">
    <h1>Crea tu Propia Comunidad o Unete a los Mejores Grupos </h1>
    <a href="/crear-cuenta" class="btn btn-amarillo">Crea tu Cuenta</a>
</div>

<div class="buscador-inicio">
    <div class="contenedor">
        <h2>Encuentra el Grupo que Buscas</h2>
        <form method="get" action="search">
            <select name="categoria">
                <option value="" selected>-- Todas las Categoría --</option>
                <% categorias.forEach(c=> { %>
                    <option value="<%= c.id %> ">
                        <%= c.nombre %>
                    </option>
                    <% }) %>
            </select>
            <input type="text" name="titulo" placeholder="Nombre Evento">
            <input type="text" name="ciudad" placeholder="Ciudad">
            <select name="pais">
                <option value="" selected>-- Todos --</option>
                <option value="FRA">Francia</option>
                <option value="PRT">Portugal</option>
                <option value="DEU">Alemania</option>
                <option value="ESP">España</option>
                <option value="ITA">Italia</option>
                <option value="MAR">Marruecos</option>
            </select>
            <input type="submit" value="Buscar" class="btn btn-rosa">
        </form>
    </div>
</div>

<div class="contenedor ">
    <h2>Próximos Eventos</h2>
    <div class="grid columnas-md-3 ">
        <% if(eventos.length>0) { %>
            <% eventos.forEach(e=> { %>
                <%- include ('partials/card-evento.ejs',{e:e}) %>   
            <% }); %>
        <% } %>   
    </div>
</div> 

<main class="bg-gris categorias">
    <h2>Encuentra Grupos por Categoría</h2>

    <div class="contenedor">
        <ul class="listado-categorias  grid columnas-2 columnas-md-3">
            <% categorias.forEach(c=> { %>
                <li>
                    <a href="/categoria/<%= c.slug %> ">
                        <img src="/img/categoria_<%= c.id %>.jpg">
                        <p>
                            <%= c.nombre %>
                        </p>
                    </a>
                </li>
                <% }) %>
        </ul>
    </div>
</main>

<div class="evento-bg">
    <div class="contenedor evento grid columnas-md-2">
        <section>
            <h3>Crea Una Comunidad</h3>
            <p>Sácale todo el partido a tus pasiones y crea una comunidad de personas con quienes compartirlas</p>
        </section>
        <section>
            <h3>Encuentra los Mejores Grupos</h3>
            <p>Encuentra a persona interesante y descubre todo lo que está ocurriendo cerca de ti</p>
        </section>
    </div>
</div>