<main class="contenedor panel-administracion">
  <h1>
    <%= nombrePagina %>
  </h1>
  <div class="contenedor-botones">
    <a href="/nuevo-grupo" class="btn btn-amarillo">Nuevo Grupo</a>
    <a href="/nuevo-evento" class="btn btn-azul">Nuevo Evento</a>
    <a href="/editar-perfil" class="btn btn-rosa">Editar Perfil</a>
    <a href="/cambiar-pasword" class="btn btn-verde">Cambiar Contraseña</a>
    <a href="/imagen-perfil" class="btn btn-amarillo">Imagen Perfil</a>
  </div>
  <div class="seccion-admin">
    <h2>Eventos que estan por LLegar</h2>
    <% if(evento.length>0) { %>
      <ul>
        <% evento.forEach(e=> { %>
          <li>
            <div class="informacion-admin">
              <% moment.locale('es') %>
                <% const fecha=e.fecha +' '+e.hora; %>
                <p class="fecha"><%= moment(fecha).format(' LLLL');%>
                  </p>
                  <h3>
                    <%= e.titulo %>
                  </h3>
                  <small>
                    <%= e.asistentes.length %> Asistentes
                  </small>
            </div>
            <div class="acciones contenedor-botones">
              <a href="/editar-evento/<%= e.id %>" class="btn btn-verde">Editar</a>
              <a href="/asistentesEvento/<%= e.id %>" class="btn btn-azul2">Asistentes</a>
              <a href="/eliminar-evento/<%= e.id %>" class="btn btn-rojo">Eliminar</a>
            </div>
          </li>
          <% }); %>
      </ul>
      <% } else { %>
        <p>No tienes eventos creados en este Grupo</p>
        <% } %>
  </div>
  <div class="seccion-admin">
    <h2>Tus Grupos</h2>
    <% if(grupos.length){ %>
      <ul>
        <% grupos.forEach(grupo=>{ %>
          <li>
            <div class="informacion-admin">
              <h3>
                <%= grupo.nombre %>
              </h3>
            </div>
            <div class="acciones contenedor-botones">
              <a href="/editar-grupo/<%= grupo.id %> " class="btn btn-verde">Editar</a>
              <a href="/imagen-grupo/<%= grupo.id %>" class="btn btn-azul2">Imagen</a>
              <a href="/eliminar-grupo/<%= grupo.id %>" class="btn btn-rojo">Eliminar</a>
            </div>
          </li>
          <% }) %>
      </ul>
      <% } else {%>
        <p>No tienes ningun grupo activo</p>
        <% } %>
  </div>
  <div class="seccion-admin">
    <h2>Eventos Pasados</h2>
    <% if(pasados.length>0) { %>
      <ul>
        <% pasados.forEach(e=> { %>
          <li>
            <div class="informacion-admin">
              <% moment.locale('es') %>
                <% const fecha=e.fecha +' '+e.hora; %>
                <p class="fecha"><%= moment(fecha).format(' LLLL');%>
                  </p>
                  <h3>
                    <%= e.titulo %>
                  </h3>
                  <small>
                    <%= e.asistentes.length %> Asistentes
                  </small>
            </div>
            <div class="acciones contenedor-botones">
              <a href="/editar-evento/<%= e.id %>" class="btn btn-verde">Editar</a>
              <a href="/asistentesEvento/<%= e.id %>" class="btn btn-azul2">Asistentes</a>
              <a href="/eliminar-evento/<%= e.id %>" class="btn btn-rojo">Eliminar</a>
            </div>
          </li>
          <% }); %>
      </ul>
      <% } else { %>
        <p>No tienes eventos Pasados</p>
        <% } %>
  </div>
</main>